
<div class="bg-gray-100 flex items-center justify-center h-screen">

    <div class="bg-white p-8 rounded-lg shadow-md  w-full max-w-md ">
    <h2 class="text-2xl font-bold mb-6 text-center">Welcome Back</h2>
    
    <form [formGroup]="loginForm"  (ngSubmit)="OnSubmit()">
        <div class="mb-4">
        <label class="block text-gray-700 mb-2">Email</label>
        <input formControlName="email" type="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Enter your email" required />
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-red-500 text-sm mt-1 ">
                <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email.</div>
            </div>
        </div> 

        <div class="mb-4">
        <label class="block text-gray-700 mb-2">Password</label>
        <input formControlName="password"  type="password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Enter your password" required />
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-red-500 text-sm mt-1">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</div>
            </div>
        </div>

        <!-- <div class="mb-4 text-right">
        <a href="#" class="text-sm text-blue-500 hover:underline">Forgot password?</a>
        </div> -->

        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-300">Login</button>
    </form>
    </div>

</div>



